/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgba(darken($secondary, 6), .4);
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;

  .copyright {
    text-align: center;
  }

  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    a {
      color: lighten($primary, 10);
    }
  }
}
