/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  padding: 100px 0;

  h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 22px;
  }

  /* countdown */
  .countdown {
    margin-bottom: 80px;

    div {
      text-align: center;
      margin:10px;
      width: 100px;
      padding: 15px 0;
      background: rgba(#fff, .12);
      border-top: 5px solid $primary;

      h3 {
        font-weight: 700;
        font-size: 44px;
        margin-bottom: 15px;
      }
      h4 {
        font-size: 16px;
        font-weight: 600;
      }

      @media (max-width: 575px) {
        width: 70px;
        padding: 10px 0;
        margin:10px 8px;

        h3 {
          font-size: 28px;
          margin-bottom: 10px;
        }
        h4 {
          font-size: 14px;
          font-weight: 500;
        }
      }
      
    }

  }

  .subscribe {
    font-size: 15px;
    text-align: center;

    h4 {
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      position: relative;
      padding-bottom: 12px;
    }

    .subscribe-form {
      min-width: 300px;
      margin-top: 10px;
      background: #fff;
      padding: 6px 10px;
      position: relative;
      text-align: left;

      input[type="email"] {
        border: 0;
        padding: 4px 8px;
        width: calc(100% - 100px);
      }

      input[type="submit"] {
        position: absolute;
        top: 0;
        right: -2px;
        bottom: 0;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 20px;
        background: $primary;
        color: #fff;
        transition: 0.3s;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.10);
        &:hover {
          background: darken($primary, 2);
        }
      }
    }

    .error-message {
      display: none;
      color: #ed3c0d;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
    
    .sent-message {
      display: none;
      color: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
  
    .loading {
      display: none;
      text-align: center;
      padding: 15px;
  
      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        animation: animate-loading-notify 1s linear infinite;
      }
  
    }

    @keyframes animate-loading-notify {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }


  .social-links {
    margin-top: 10px;
    a {
      font-size: 24px;
      display: inline-block;
      color: rgba(#fff, .8);
      line-height: 1;
      padding-top: 14px;
      margin: 0 10px;
      text-align: center;
      transition: 0.3s;
      &:hover {
        color: #fff;
      }
    }
  }
}
