// Fonts
$font-default: 'Open Sans', sans-serif;
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// Colors
$default: #444444;
$primary: #ff0000;
$secondary: #222222;
